
<footer>
  <div class="mx-auto space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
           <img src="{{ asset('assets/img/logo-nonebackground.png') }}" alt="Logo" style="width: 100px;">
      </div>

      <ul class="mt-8 flex justify-start gap-6 sm:mt-0 sm:justify-end">
        <li>
          <a href="#" rel="noreferrer" target="_blank" class="text-gray-700" >
          <i class="fa-brands fa-facebook text-xl hover:text-[#293a49]"></i>
          </a>
        </li>
          <li>
          <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75" >
          <i class="fa-brands fa-instagram text-xl hover:text-[#293a49]"></i>
          </a>
        </li>
            <li>
          <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75" >
          <i class="fa-brands fa-tiktok text-xl hover:text-[#293a49]"></i>
          </a>
        </li>
               <li>
          <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75" >
          <i class="fa-brands fa-x-twitter text-xl hover:text-[#293a49]"></i>
          </a>
        </li>
                  <li>
          <a href="https://github.com/bintaax" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75" >
          <i class="fa-brands fa-github text-xl hover:text-[#293a49]"></i>
          </a>
        </li>

      </ul>
    </div>

    <div
      class="grid grid-cols-1 gap-8 border-t border-gray-100 pt-8 sm:grid-cols-2 lg:grid-cols-3 lg:pt-16"
    >

      <div>
        <p class="font-medium text-gray-900">La librairie</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="hover:underline"> A propos </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Liens utiles</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="hover:underline"> Contact </a>
          </li>

          <li>
            <a href="#" class="hover:underline"> FAQ </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-medium text-gray-900">Mentions légales</p>

        <ul class="mt-6 space-y-4 text-sm">
          <li>
            <a href="#" class="hover:underline"> Accessibilité</a>
          </li>

          <li>
            <a href="#" class="hover:underline"> Politique de retour </a>
          </li>

          <li>
            <a href="#" class="hover:underline"> Politique de remboursement </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-xs text-gray-500">&copy; 2025-2026. Lectis. Tous droits réservés.</p>
  </div>
</footer>
<script src="{{asset('assets/js/script.js')}}"></script>
