{% extends 'base.html.twig' %}

{% block title %}Politique de remboursement – Lectis{% endblock %}

{% block body %}
<section class="max-w-4xl mx-auto mt-12 mb-20 bg-white p-10 rounded-xl shadow-lg">

    <h1 class="text-4xl font-bold text-center mb-6">💳 Politique de remboursement</h1>

    <p class="text-center text-gray-600 mb-10">
        Une fois le produit retourné et vérifié, le remboursement sera effectué sous
        <strong>7 jours ouvrés</strong>.
    </p>

    <hr class="my-10 border-gray-200">

    <h2 class="text-2xl font-semibold mb-4">❌ Articles non remboursables</h2>

    <ul class="list-disc ml-6 space-y-1 mb-10">
        <li>Ebooks ou contenus numériques téléchargés.</li>
        <li>Articles abîmés, annotés ou utilisés.</li>
        <li>Cartes cadeaux.</li>
    </ul>

    <hr class="my-10 border-gray-200">

    <h2 class="text-2xl font-semibold mb-4">⏳ Remboursements en retard</h2>

    <p class="mb-4">Si vous ne voyez pas votre remboursement :</p>

    <ul class="list-disc ml-6 space-y-1 mb-10">
        <li>Vérifiez votre compte bancaire.</li>
        <li>Contactez votre banque ou service de paiement.</li>
        <li>
            Contactez notre support via notre <strong><a href="{{path('app_contact')}}">formulaire de contact</a></strong> ou directement par mail :  <a href="mailto:support@lectis.org" class="font-semibold text-blue-600">support@lectis.org</a>
        </li>
    </ul>

</section>
{% endblock %}
