/* Imports Tailwind/Flowbite et typographies */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Variables de la charte graphique */
:root {
  /* Nuances Sombres (Header, Footer, Titres forts) */
  --bluegray-dark:    #1A2229; /* Presque noir, ultra-premium pour le fond */
  --bluegray-deep:    #2E3A45; /* Ton principal pour les sections sombres */
  --bluegray-accent:  #3F5366; /* Pour les éléments d'interaction */
  --bluegray-hover:   #4B6277; /* Un peu plus clair pour le hover sur fond sombre */

  /* Nuances de Surface (Fonds, Sections, Inputs) */
  --bluegray-light:   #F1F5F9; /* Gris très clair bleuté pour le fond du body */
  --bluegray-medium:  #E2E8F0; /* Pour les bordures fines et séparateurs */
  
  /* Couleurs de Status */
  --accent-gold:      #C5A059; /* Optionnel : une couleur "or" pour le prix ou la fidélité */
  
  /* Neutres */
  --neutral-white:    #FFFFFF;
  --neutral-soft:     #F8FAFC;
}

/* Base typographie et couleurs globales */
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--bluegray-light);
  color: var(--bluegray-dark);
}

/* Icônes */
i {
  color: var(--bluegray-deep);
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
}
