<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>

        <link rel="icon" href="{{ asset('/assets/img/favicon.png') }}" type="image/png">

       
         <!-- TailwindCSS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
      
        {% endblock %}

    </head>
   <body style="background-color: #EEF3F8;">
    {% include "partials/header.html.twig" %}
    
    {% block body %}
    {% endblock %}
    

</body>
    {% include "partials/footer.html.twig" %}

</html>
